<% layout("/layouts/boilerplate.ejs") %>
 <%- include("../includes/navOptions.ejs") %>

<style>
    
</style>
<body>
    <div class="listing-category">
    <h3>Experiences</h3>
    </div>
    <div class="listing-cards">
            <%for(let listing of allListings){%>
                <%if(listing.category == "Experiences"){%>
                <a href="/listings/<%=listing._id%>">
                    <div class="listing-card">
                        <div class="card-img">
                            <img src="<%=listing.image.url%>" alt="" class="card-img">
                        </div>
                        <div class="listing-title">
                            <h6>
                                <%=listing.title%>
                            </h6>
                        </div>
                        <div class="listing-price">
                            &#x20B9;<%=listing.price.toLocaleString("en-in")%>/night &nbsp;&nbsp;
                                <i class="tax-info">+18% GST</i>
                        </div>
                    </div>
                </a>
            <%}%>
            <%}%>
        </div>
        <script>
        let taxBtn = document.querySelector(".taxBtn");

        taxBtn.addEventListener("click", (req, res) => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (info of taxInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        });
</script>
</body>